<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "newProduct" , title: "Añadir nuevo producto/servicio" }) %>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <h1>Completa el siguiente formulario para agregar un nuevo producto/servicio a su sitio</h1>
        <form action="/" method="POST">
            <div class="seccion-formulario">
                <label>Seleccione o suba una imagen/ícono que identifique al producto:</label>
                <input type="file" name="imagen-producto">
            </div>
            <div class="seccion-formulario">
                <label>Escriba el nombre del producto:</label>
                <input type="text" name="nombre-producto" id="nombre-producto">
            </div>
            <div class="seccion-formulario">
                <label>Escriba una descripción acerca del producto:</label>
                <textarea name="descripcion-producto" id="descripcion-producto" cols="50" rows="2" required></textarea>
            </div>
            <div class="seccion-formulario">
                <label>Seleccione la categoria del producto:</label>
                <select name="categoria" id="categoria" required>
                    <option value="cable">Cable</option>
                    <option value="internet">Internet</option>
                    <option value="paquetes">Paquetes</option>
                    <option value="aplicaciones">Aplicaciones</option>
                </select>
            </div>
            <div class="seccion-formulario">
                <label>Escriba el precio del producto:</label>
                <input type="number" name="precio" id="precio">
            </div>
            <div class="seccion-formulario">
                <p>¿El nuevo producto va a tener descuento?:</p>
                <div class="opciones-radio">
                    <label>Si</label>
                    <input type="radio" name="yes" id="yes">
                </div>
                <div class="opciones-radio"></div>
                    <label>No</label>
                    <input type="radio" name="no" id="no">
                </div>
                <label>Escriba porcentaje del descuento:</label>
                <input type="number" name="descuento" id="descuento">
            </div>
            <div class="botones">
                <div class="boton-guardar">
                    <button type="submit">Añadir producto</button>
                </div>
        </form>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>