@import url(/css/styles.css);

main{
    width: 95%;
    margin: auto;
}

main h2{
    text-transform: uppercase;
}

main h3{
    text-transform: capitalize;
    font-size: 18px;
}

.bloque{
    transition: all 0.25s ease-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 40vw;
    justify-content: center;
    margin: 0.5rem;
    border-radius: 5px;
    transform: scale(0.9);
    border: solid 1px var(--verde);
    background: linear-gradient(to top right, #005377, #06A77D);
    color: #FFF;
    position: relative;
    z-index: 1;
}

.bloque img{
    width: 15vw;
}

.anular{
    background: linear-gradient(to top right, #f44336, #e91e63);
}

.bloque::after{
    border-radius: 5px;
    background-image: linear-gradient(to bottom left, #005377, #06A77D);
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: opacity 0.25s ease-out;
    opacity: 0;
}

.bloque:hover::after{
    opacity: 1;
}

.bloque i, .bloque p, .bloque ul, .bloque img{
    position: relative;
    z-index: 3;
}

.bloque:hover{
    transform: scale(1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    background: linear-gradient(to bottom left, #005377, #06A77D);
    height: max-content;
    justify-content: center;
    padding: 0.5rem 0;
}

.anular::after{
    background: linear-gradient(to bottom left, #f44336, #e91e63);
    justify-content: center;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: opacity 0.25s ease-out;
    opacity: 0;
}

.anular:hover::after{
    opacity: 1;
}

.bloque i{
    font-size: 10vw;
    text-shadow: 0px 0px 10px var(--negro);
}

.anular i{
    font-size: 22vw;
}

.bloque figure{
    display: flex;
    border-radius: 5px;
    height: 15vw;
    background-color: #FFF;
    padding: 1%;
    z-index: 3;
}

.bloque p{
    padding-top: 1rem;
    text-shadow: 0px 0px 10px var(--negro);
    text-align: center;
    font-size: 0.75rem;
}

.modificar{
    border-radius: 10px;
    background-color: var(--amarillo);
    text-align: center;
    margin: 10px 0;
}

.eliminar{
    border-radius: 10px;
    background-color: #e91e63;
    text-align: center;
    margin: 10px 0;
}

.modificar p, .eliminar p {
    padding: 0;
}

.modificar i, .eliminar i{
    font-size: 0.75rem;
}

#servicio-a-contratar{
    font-size: large;
    text-align: center;
    color: var(--negro);
}

/* CAJA DE LOS SERVICIOS */

.servicio-seleccion{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detalle-servicio{
    transition: all 0.25s ease-out;
    list-style-type: circle;
    display: none;
    padding: 0 15%;
    font-size: 3vw;
}

.bloque:hover .detalle-servicio{
    display: block;
}

.bronce{
    color: var(--arena);
}

.oro{
    color: var(--amarillo);
}

/* TABLET */

@media (min-width: 410px){
    main{
        padding-top: 30%;
    }

    main h3{
        font-size: 5vw;
    }

    .bloque p{
        font-size: 4vw;
    }

    .modificar i, .eliminar i{
    font-size: 4vw;
    padding-top: 6px;
    }

    #servicio-a-contratar{
        font-size: x-large;
    }
}

@media (min-width: 640px){
    main{
        padding-top: 25%;
    }
}

/* PC */

@media (min-width: 860px){

    main {
    padding-top: 155px;
    }

    main h3{
        font-size: 2vw;
    }

    .bloque{
        width: 17vw;
        height: 17vw;
    }
    
    .anular:hover{
        background: linear-gradient(to bottom left, #f44336, #e91e63);
        height: 17vw;
        justify-content: center;
    }

    .bloque i{
        font-size: 7vw;
    }
    
    .anular i{
        font-size: 10vw;
    }

    .modificar i, .eliminar i{
    font-size: 2vw;
    }

    .bloque p{
        font-size: 2vw;
    }

    .bloque img{
        width: 7.5vw;
    }

    .detalle-servicio{
        font-size: 1.5vw;
    }

    .bloque figure{
        height: 7.5vw;
    }

    #servicio-a-contratar{
        font-size: xx-large;
    }
}