@import url(/public/css/styles.css);

.main{
    background-color: var(--azul);
    background: linear-gradient(45deg, var(--negro), var(--azul));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}


h2{
    text-align: center;
    color: #fff;
}


nav{
    margin: auto;
}

.nav-izq-der{
        padding: 0;
    }

nav li{
    padding: 8px;
    position: relative;
    display: block;
    padding-bottom: 25px;
    list-style: none;
    margin-top: 10px;
    color: #fff;  
}

nav input{
    position: absolute;
    top: 30px;
    left: 7.5px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border-style: none;
    background-color: #fff;

}

nav select{
    position: absolute;
    top: 30px;
    left: 7.5px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border-style: none;
}

.condiciones{
    padding: 5px;
    padding-top: 20px;
    padding-left: 7.5px;
    font-size: 15.5px;
    line-height: 23px;
    color: #fff;
}

.notificacion{
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 7.5px;
    font-size: 15.5px;
    line-height: 23px;
    color: #fff;
}

.botones{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 90%
}

.boton, .boton-borrar{
    width: 45%;
}

.boton button, .boton-borrar button{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to top right, #005377, #06A77D);
    color: #fff;
}

.boton:hover button, .boton-borrar:hover button{
    background: linear-gradient(to bottom left, #005377, #06A77D);
    cursor: pointer;
}


button{
    border-style: none;
}

.register{
    width: 70%;
    margin: 16px 0;
}

/* tablet */
@media (min-width: 410px){
    nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    }

    nav li {
        margin-top: 30px;
    }

    .nav-izq-der{
        justify-content: space-around;
        width: 45%;
    }
}


/* compu */
@media (min-width:860px){
    main{
        padding-top: 145px;
    }

    nav input{
        padding: 10px;
        font-size: 17.5px;
        margin-top: 6px;
    }

    nav li{
        font-size: 20px;
        margin-bottom: 15px;
        padding-bottom: 30px;
    }

    nav select{
        padding: 10px;
        font-size: 17.5px;
        margin-top: 6px;
    }

    .boton button, .boton-borrar button{
        padding: 10px;
        font-size: 17.5px;
        margin-top: 6px;
    }

    .condiciones, .notificacion{
        font-size: 16px;
    }

    h2{
        font-size: 45px;
    }

    footer{
        margin-top: 0;
    }
}
