@import url(/public/css/styles.css);

main{
    background: linear-gradient(45deg, var(--negro), var(--azul));
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    width: 90%;
    margin: auto;
}


h2{
    text-align: center;
    color: #fff;
}


nav{
    margin: auto;
}

.profile{
    width: 100%;
}

.nav-izq-der{
        padding: 0;
    }

nav li{
    position: relative;
    display: block;
    list-style: none;
    margin-top: 10px;
    color: #fff;  
}

nav input{
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border-style: none;
    background-color: #fff;
    color: var(--negro);
}

nav select{
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border-style: none;
}

.condiciones, .notificacion{
    padding: 20px 0;
    font-size: 15.5px;
    line-height: 23px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1vh;
}

.botones{
    display: flex;
    justify-content:space-between;
    margin: auto;
    width: 90%
}

.boton, .boton-borrar{
    width: 45%;
}

.boton-perfil{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to top right, #005377, #06A77D);
    color: #fff;
}

.boton-perfil-borrar{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to bottom left, #f44336, #e91e63);
    color: #fff;
}

.boton-perfil-borrar:hover{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to top right, #f44336, #e91e63);
    color: #fff;
}


.boton-perfil button{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to top right, #005377, #06A77D);
    color: #fff;
    cursor: pointer;
}

.boton-perfil-borrar button{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to bottom left, #f44336, #e91e63);
    color: #fff;
    cursor: pointer;
}

.boton-perfil-borrar button:hover{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to top right, #f44336, #e91e63);
    color: #fff;
    cursor: pointer;
}

.botones-perfil{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.boton button, .boton-borrar button{
    width: 100%;
    padding: 9px;
    border-radius: 10px;
    background: linear-gradient(to top right, #005377, #06A77D);
    color: #fff;
}

.boton:hover button, .boton-borrar:hover button{
    background: linear-gradient(to bottom left, #005377, #06A77D);
    cursor: pointer;
}


button{
    border-style: none;
}

.register{
    width: 86%;
    margin: 16px 0;
}

.avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-style: solid;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: var(--azul);
    object-fit: cover;
    position: relative;
    z-index: 3;
    color: #FFF;
    font-size: 60px;
}

.password-inputs{
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contra{
    width: 100%;
    padding-bottom: 1rem;
}

/* tablet */
@media (min-width: 410px){
    nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    }

    nav li {
        margin-top: 30px;
    }

    .nav-izq-der{
        justify-content: space-around;
        width: 45%;
    }

    .avatar{
    width: 180px;
    height: 180px;
    font-size: 100px;
    }
}


/* compu */
@media (min-width:860px){
    main{
        padding-top: 145px;
    }

    .profile{
    width: max-content;
    }

    nav input{
        padding: 10px;
        font-size: 17.5px;
        margin-top: 6px;
    }

    nav li{
        font-size: 20px;
    }

    nav select{
        padding: 10px;
        font-size: 17.5px;
        margin-top: 6px;
    }

    .boton button, .boton-borrar button{
        padding: 10px;
        font-size: 17.5px;
        margin-top: 6px;
    }

    .condiciones, .notificacion{
        font-size: 16px;
    }

    h2{
        font-size: 45px;
    }

    footer{
        margin-top: 0;
    }

    .avatar{
        width: 260px;
        height: 260px;
        font-size: 160px;
    }
}
