/* BODY */

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
<<<<<<< HEAD
=======
    padding: 0px;
>>>>>>> 86a3fea5110044c3abecb38aab72f7a831ddbe7a
    box-sizing: border-box;
}

/* MAIN */
main{
    padding-top: 40%;
}

@media (min-width: 410px) {
    main{
        padding-top: 27%;
    }
}

@media (min-width: 860px) {
    main{
        padding-top: 15%;
    }
}

/* COLOURS */

:root{
    --negro: #140401;
    --azul: #005377;
    --verde: #06A77D;
    --arena: #D5C67A;
    --amarillo: #F1A208;
}