/* BODY */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* VALIDATIONS */
.validation-error {
    color: var(--rojo);
    font-size: 0.75rem;
    position: relative;
    border-left: 4px solid var(--rojo);
    padding: 8px;
    margin: 8px 0;
    background: rgba(255, 56, 56, 0.1);
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.validation-error i {
    font-size: 1rem;
}

.validation-warning{
    color: var(--amarillo);
    font-size: 1rem;
    position: relative;
    border-left: 4px solid var(--amarillo);
    padding: 8px;
    margin: 8px 0;
    background: rgba(241, 162, 8, 0.1);
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.validation-success{
    color: var(--verde);
    position: relative;
    border-left: 4px solid var(--verde);
    padding: 8px;
    margin: 8px 0;
    background: rgba(6, 167, 125, 0.1);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-error{
    border: 2px solid #f44336;
}

.input-error:focus{
    border: 2px solid #f44336;
}

/* MAIN */
main{
    padding-top: 145px;
}

@media (min-width: 410px) {
    main{
        padding-top: 134px;
    }
}

@media (min-width: 860px) {
    main{
        padding-top: 155px;
    }

    .validation-error{
        font-size: 1rem;
}
}

a{
    color: #FFF;
    text-decoration: none;
}

/* COLOURS */
:root{
    --negro: #140401;
    --azul: #005377;
    --verde: #06A77D;
    --arena: #D5C67A;
    --amarillo: #F1A208;
    --rojo: #f44336;
}