<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network | Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <section class="cabecera">
            <a href="/"><img src="/images/logotipo-header.png" alt="Network - logotipo" id="logotipo-header"></a>
            <p id="titulo-principal">Network</p>
            <div class="compras-sesion" alt="Carrito" title="Carrito">
                <a href="/productCart">
                    <div class="carrito-compras">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </a>
                <a href="/login">
                    <div class="inicio-sesion">
                        <div class="mi-cuenta" title="Iniciar sesión">
                            <p>Iniciar sesión</p>
                            <i class="fas fa-user" alt="Imagen de perfil" id="imagen-perfil"></i>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="informacion-cabecera">
            <p>Estás en: <strong>Capital Federal</strong></p>
            <div class="barra-busqueda">
                <form action="/find" method="post" class="buscador">
                    <input type="search" name="busqueda" id="busqueda" placeholder="Buscá productos y servicios acá">
                    <button type="submit" name="buscar" title="Buscar">
                        <i class="fas fa-search" id="lupa"></i>
                    </button>
                </form>
            </div>
        </section>
    </header>
    <main>
        <section class="banner-slider">
            <a href="/productDetail">
                <div id="armar-combo">
                <p>Armá tu combo</p>
            </div>
            </a>
        </section>
        <section class="servicios">
            <div class="combos">
                <i class="fas fa-mail-bulk" alt="Combos"></i>
                <p class="bloques-de-servicios">Combos</p>
            </div>
            <div class="combos">
                <i class="fas fa-globe" alt="Internet"></i>
                <p class="bloques-de-servicios">Internet</p>
            </div>
            <div class="combos">
                <i class="fas fa-tv" alt="Cable"></i>
                <p class="bloques-de-servicios">Cable</p>
            </div>
            <div class="combos">
                <i class="fas fa-box-open" alt="Paquetes"></i>
                <p class="bloques-de-servicios">Paquetes</p>
            </div>
            <div class="combos">
                <i class="fas fa-mobile-alt" alt="Aplicaciones"></i>
                <p class="bloques-de-servicios">Aplicaciones</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-footer">
            <a href="/"><img src="/images/logo-ligth.png" alt="Logotipo" id="logotipo-footer"></a>
        </div>
        <section class="informacion-footer">
            <div class="contacto">
                <p>Contacto</p>
                <ul class="contacto-lista">
                    <li>Ventas</li>
                    <li>Atención al cliente</li>
                    <li>Correo electrónico</li>
                    <li>Chat (WhatsApp)</li>
                </ul>
            </div>
            <div class="planes">
                <p>Planes</p>
                <ul>
                    <li>Combos</li>
                    <li>Internet</li>
                    <li>Cable</li>
                    <li>Paquetes</li>
                    <li>Aplicaciones</li>
                </ul>
            </div>
            <div class="redes-sociales">
                <p>Redes sociales</p>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <div class="informacion-util">
                <p>Información útil</p>
                <ul>
                    <li>Acerca de nosotros</li>
                    <li>Términos y condiciones</li>
                    <li>Solicitud de baja</li>
                    <li>Botón de arrepentimiento</li>
                    <li>Prestación Básica Universal (PBU)</li>
                </ul>
            </div>
        </section>
        <section class="comunicacion">
            <div id="correo">
                <i class="fas fa-envelope"></i>
            </div>
            <div id="llamar">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div id="chatear">
                <i class="fas fa-headset"></i>
            </div>
        </section>
    </footer>
</body>
</html>