<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>
</head>
<body>
    <div class="logo-footer">
            <a href="/"><img src="/images/logo-ligth.png" alt="Logotipo" id="logotipo-footer"></a>
        </div>
        <section class="informacion-footer">
            <div class="contacto">
                <p>Contacto</p>
                <ul class="contacto-lista">
                    <li>Ventas</li>
                    <li>Atención al cliente</li>
                    <li>Correo electrónico</li>
                    <li>Chat (WhatsApp)</li>
                </ul>
            </div>
            <div class="planes">
                <p>Planes</p>
                <ul>
                    <li>Combos</li>
                    <li>Internet</li>
                    <li>Cable</li>
                    <li>Paquetes</li>
                    <li>Aplicaciones</li>
                </ul>
            </div>
            <div class="redes-sociales">
                <p>Redes sociales</p>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
            <div class="informacion-util">
                <p>Información útil</p>
                <ul>
                    <li>Acerca de nosotros</li>
                    <li>Términos y condiciones</li>
                    <li>Solicitud de baja</li>
                    <li>Botón de arrepentimiento</li>
                    <li>Prestación Básica Universal (PBU)</li>
                </ul>
            </div>
        </section>
        <section class="comunicacion">
            <div id="correo">
                <i class="fas fa-envelope"></i>
            </div>
            <div id="llamar">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div id="chatear">
                <i class="fas fa-headset"></i>
            </div>
        </section>
</body>
</html>