<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network</title>
</head>
<body>
    <section class="cabecera">
            <a href="/"><img src="/images/logotipo-header.png" alt="Network - logotipo" id="logotipo-header"></a>
            <p id="titulo-principal">Network</p>
            <div class="compras-sesion" alt="Carrito">
                <% if(locals.isLogge){%>
                <a href="/newProduct">
                    <div class="carrito-compras" title="Agregar producto">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </a>
                <% } else { %>
                <% if(locals.isLogged) { %>
                <a href="/productCart">
                    <div class="carrito-compras"  title="Carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </a>
                <a href="/profile">
                    <div class="inicio-sesion">
                        <dis class="mi-cuenta" title="Ingresar a tu perfil">
                            <p>Entrar al perfil</p>
                            <i class="fas fa-user imagen-perfil"></i>
                        </dis>
                    </div>
                </a>
                <form action="/" method="post">
                    <button type="submit" class="inicio-sesion">
                        <div class="mi-cuenta" title="Cerrar sesión">
                            <p>Cerrar sesión</p>
                            <i class="fas fa-sign-in-alt imagen-perfil" alt="Imagen de perfil"></i>
                        </div>
                    </button>
                </form>
                <% } else { %>
                <a href="/login">
                    <div class="inicio-sesion">
                        <div class="mi-cuenta" title="Iniciar sesión">
                            <p>Iniciar sesión</p>
                            <i class="fas fa-sign-in-alt imagen-perfil" alt="Imagen de perfil"></i>
                        </div>
                    </div>
                </a>
                <%}}%>
            </div>
        </section>
        <section class="informacion-cabecera">
            <p>Estás en: <strong>Capital Federal</strong></p>
            <div class="barra-busqueda">
                <form action="/find" method="post" class="buscador">
                    <input type="search" name="busqueda" id="busqueda" placeholder="Buscá productos y servicios acá">
                    <button type="submit" name="buscar" title="Buscar">
                        <i class="fas fa-search" id="lupa"></i>
                    </button>
                </form>
            </div>
        </section>
</body>
</html>