<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include("../partials/head", {cssSheet: "login", title: "Login"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
        <main>
            <div class="main">
            <label><h2>¡Inicia sesión para avanzar con tu pedido!</h2></label>
                <form action="/" method="POST" class="login">
                    <nav>
                <li><div class="correo">
                    <label>Correo eléctronico:</label>
                    <input type="email" name="Correo eléctronico" required minlength="8">
                </div></li>

                <li><div class="contra">
                    <label>Contraseña:</label>
                    <input type="password" name="Contraseña" required>
                </div></li>
            
                </nav>

                <div class="botones">
                <div class="boton-iniciar">
                    <button type="submit">Iniciar sesión</button>
                </div>

                <div class="link-olvidaste">
                    <a href="#">¿Olvistaste tu contraseña?</a>
                </div>

                <div class="link-registrate">
                    <a href="register">Registrate con nosotros</a>
                </div>
                </div>

                </form></div>
        </main>
        <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>