<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head", {cssSheet: "register", title: "Perfil"}) %>
</head>
<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <div class="main">
        <label><h2>¡Bienvenid@ user.name!</h2></label>
            <nav>
                <ul class="nav-izq-der">
                <li><div class = 'nombre'>
                    <p>Nombre: user.name<p>
                </div></li>

                <li><div class="apellido">
                    <p>Apellido: user.surname<p>
                </div></li>
                
                <li><div class = 'dom'>
                    <p>Domicilio: adress</p>  
                </div></li>

                <li><div class="correo">
                    <p>Correo eléctronico: email</p>

                </div></li>

                <li><div class = 'tel'>
                    <p>Imagen de perfil: photo</p>
                </div></li>
                </ul>

                <ul class="nav-izq-der">
                <li><div class ='dni'>    
                    <p>DNI: DNI</p>
                </div></li>
                
                <li><div class="fecha">
                <label>Fecha de nacimiento: birth date</label>
                </div></li>

                <li><div class="sexo">
                    <p>Sexo: XX</p>
                </div></li>

                <li><div class="contra">
                    <p>Servicios vigentes: XX</p>
                </div></li>

                <li><div class="confir-contra">
                    <p>Promociones vigentes: El XX% de descuento hasta la fecha XX/XX</p>
                </div></li>
                </ul>
            </nav>

                <div class = 'notificacion'>
                    <label for="notificaciones">Acepto recibir notificaciones de actualizaciones y promociones a mi correo</label>
                    <input type="checkbox" name="notificaciones">                    
                </div>

                <div class="botones">
                <div class="boton">
                    <button type="submit">Editar perfil</button>
                </div>

                <div class="boton">
                    <button type="reset"> Eliminar cuenta</button>
                </div>
                </div>
                </div>
        </form>
    </div>
    </div>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>